.produto__principal{
    display: flex;
    flex-direction: column;
    padding: 0 1.5em;
}

.produto__imagem{
    margin: auto;
    width: 75%;
}

.produto__titulo{
    margin: 2vh 0;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--fonte-secundaria);
}

.produto__descricao{
    font-size: 14px;
    font-family: var(--fonte-secundaria);
    color: var(--cinza-negrito);
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.produto__principal__avaliacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.produto__avaliacao__descricao{
    font-size: 14px;
    color: var(--cinza-diferente);
}

.avaliacao{
    display: flex;
    align-items: center;
    gap: .5em;
    margin-bottom: 4vh;
}

.dados{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 3vh;
}

.produto__dados{
    font-size: 14px;
    font-family: var(--fonte-principal);
    color: var(--cinza-negrito);
    font-weight: bold;
}