@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('./header.css');
@import url('./search.css');
@import url('./produto.css');
@import url('./mainSection.css');
@import url('./divisao.css');
@import url('./cta.css');
@import url('./newHeader.css');
@import url('./navegacao.css');
@import url('./modal.css');


:root {
    --fonte-principal: "Inter";
    --fonte-secundaria: "Open Sans";
    --cinza: #474646;
    --cinza-claro: #858585;
    --cinza-negrito: #6A7086;
    --cinza-diferente: #696969;
    --cinza-para-infos: #71768E;
    --azul: #3688FF;
    --azul-escuro: #1864d631;
    --preto:#363844;
}


body{
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    color: var(--preto);
    max-width: 1400px;
    margin: auto;
}

@media screen and (min-width: 1040px){
    .teste{
        
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 1200px){
    .teste{
        justify-content: space-around;
    }
}
